{% extends 'base.twig' %}

{% block stylesheet %}
    <!-- Include libraries -->
{% endblock %}

{% block javascript %}
    <!-- Include libraries -->
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Добро пожаловать!</h1>
        <p>&nbsp;</p>
        <p>Содержимое шаблона: <pre>/markup/pages/index.twig</pre></p>
    </div>
{% endblock %}