{% extends 'base.html.twig' %}

{% block stylesheets %}
    <!-- Include libraries -->
{% endblock %}

{% block javascripts %}
    <!-- Include libraries -->
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Добро пожаловать!</h1>
        <p>&nbsp;</p>
        <p>Содержимое шаблона:</p>
        <pre>/markup/pages/index.twig</pre>
    </div>
{% endblock %}