{% extends 'base.twig' %}

{% block stylesheet %}
    <!-- Include libraries -->
{% endblock %}

{% block javascript %}
    <!-- Include libraries -->
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Добро пожаловать!</h1>
        <p>&nbsp;</p>
        <p>Содержимое шаблона: <pre>/markup/pages/index.twig</pre></p>
    </div>
{% endblock %}
<div class="test-title">
    <div class="test-title__item"></div>
    <div class="test-title__title"></div>
    <div class="test-title__span"></div>
</div><div class="test">
    <div class="test__title">1</div>
</div><div class="test">
    <div class="test__title">2</div>
</div>