/*@CFOpenSans:               'OpenSans';*/
/* ==========================================================================
   FORMS STYLES
   ========================================================================== */
/* ==========================================================================
   LAYOUT STYLES
   ========================================================================== */
html,
body {
  height: 100%;
}
@media (min-width: 768px) {
  .page-wrapper {
    min-height: 100%;
  }
  .page-buffer {
    padding-bottom: 40px;
  }
  .page-footer {
    height: 40px;
    margin-top: -40px;
  }
}
/* ==========================================================================
   TYPOGRAPHY STYLES
   ========================================================================== */
html,
body {
  height: 100%;
  width: 100%;
  color: #3e3e3d;
  font-family: Arial, sans-serif;
  font-size: 14px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
  width: 100%;
}
.b-table {
  width: 100%;
  height: 100%;
  display: table;
  text-align: center;
}
.b-table-cell {
  display: table-cell;
  vertical-align: middle;
}
.row-np > [class*="col-"] {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.row-np-all [class*="col-"] {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.header {
  padding: 40px 0;
}
